<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{
        (itensEstoqueSelected$ | async)
          ? "Editar Item Estoque #" + (itensEstoqueSelected$ | async)?.id
          : "Novo Item Estoque"
      }}
    </mat-card-title>
  </mat-card-header>
  <form [formGroup]="itemEstoqueForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <input type="hidden" formControlName="id" />
      <div class="row">
        <mat-form-field class="col-md-4">
          <mat-label>Item</mat-label>
          <mat-select formControlName="idItem">
            <mat-option>None</mat-option>
            <mat-option
              *ngFor="let item of itemList$ | async"
              [value]="item.id"
              >{{ item.nomItem }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-4">
          <mat-label>Quantidade</mat-label>
          <input formControlName="qtdItem" matInput />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-3" *ngIf="createAt">
          <mat-label>Data criação</mat-label>
          <input
            matInput
            readonly
            [matDatepicker]="picker"
            formControlName="createAt"
            matInput
          />
          <mat-datepicker-toggle
            disabled
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-md-3" *ngIf="updateAt">
          <mat-label>Ultima atualização</mat-label>
          <input
            matInput
            readonly=""
            [matDatepicker]="picker"
            formControlName="updateAt"
            [disabled]="true"
            matInput
          />
          <mat-datepicker-toggle
            disabled
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <span class="example-spacer"></span
      ><button
        mat-button
        color="accent"
        [disabled]="!itemEstoqueForm.valid"
        type="submit"
      >
        Salvar
      </button>
    </mat-card-actions>
  </form>
</mat-card>
