<mat-card>
  <mat-card-content>
    <table mat-table #table [dataSource]="itemList$" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="nomItem">
        <mat-header-cell *matHeaderCellDef>Nome item</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          {{ element.nomItem }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="desItem">
        <mat-header-cell *matHeaderCellDef>Descrição do item</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"
          >{{ element.desItem?.substring(0, 14) }}...</mat-cell
        >
      </ng-container>

      <ng-container matColumnDef="createAt">
        <mat-header-cell *matHeaderCellDef>Data cadastro</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          {{ element.createAt | date : "dd/MM/yyyy HH:mm" }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="updateAt">
        <mat-header-cell *matHeaderCellDef
          >Data Ultima atualização</mat-header-cell
        >
        <mat-cell mat-cell *matCellDef="let element">
          {{ element.updateAt | date : "dd/MM/yyyy HH:mm" }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            color="accent"
            aria-label="Editar"
            (click)="onEditItem(element.id)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            aria-label="Deletar"
            (click)="onDeleteItem(element.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <mat-cell *matCellDef="let detail">
          {{ detail.element.desItem }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        matRipple
        class="element-row"
        [class.expanded]="detalhesExpandidos == row"
        (click)="
          detalhesExpandidos === row
            ? (detalhesExpandidos = null)
            : (detalhesExpandidos = row)
        "
      ></mat-row>
      <mat-row
        *matRowDef="
          let row;
          columns: ['expandedDetail'];
          when: isExpansionDetailRow
        "
        [@detailExpand]="
          row.element == detalhesExpandidos ? 'expanded' : 'collapsed'
        "
        style="overflow: hidden"
      >
      </mat-row>
    </table>
  </mat-card-content>
</mat-card>
