<mat-card>
  <mat-card-header>
    <mat-card-title>Fazer login</mat-card-title>
    <mat-card-subtitle>Informe seu login e senha.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content text-center>
    <form>
      <div class="row">
        <mat-form-field class="col-12">
          <input
            matInput
            type="text"
            id="userName"
            name="username"
            [(ngModel)]="username"
            placeholder="Username"
            required
            autofocus
          />
          <mat-label for="userName">Nome usuario</mat-label>
        </mat-form-field>

        <mat-form-field class="col-12">
          <input
            matInput
            type="password"
            id="inputPassword"
            name="password"
            [(ngModel)]="password"
            placeholder="Password"
            required
          />
          <mat-label for="inputPassword">Senha</mat-label>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="accent" (click)="login()" [disabled]="busy">
      Logar
    </button>
  </mat-card-actions>
</mat-card>
