<mat-card>
  <mat-card-header>
    <mat-card-title> Pedidos {{ activeRoute }} </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <nav mat-tab-nav-bar backgroundColor="primary" [tabPanel]="tabPanel">
      @for (link of links; track link) {
      <a
        mat-tab-link
        (click)="onTabChange(link)"
        [active]="(activeLink | async) == link"
      >
        {{ link }}
      </a>
      }
    </nav>
    <mat-tab-nav-panel #tabPanel>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
  </mat-card-content>
</mat-card>
