<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{
        (pedidoSelected$ | async)
          ? "Editar Pedido #" + (pedidoSelected$ | async)?.id
          : "Novo Pedido"
      }}
    </mat-card-title>
  </mat-card-header>
  <form [formGroup]="pedidoForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <input type="hidden" formControlName="id" />
      <div class="row">
        <mat-form-field class="col-md-6">
          <mat-label>Responsavel</mat-label>
          <input formControlName="profissionalResponsavel" matInput />
        </mat-form-field>
        <mat-form-field class="col-md-6">
          <mat-label>Valor Total</mat-label>
          <input formControlName="valorTotal" matInput />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="col-md-6" *ngIf="createAt">
          <mat-label>Data criação</mat-label>
          <input
            matInput
            readonly
            [matDatepicker]="picker"
            formControlName="createAt"
            matInput
          />
          <mat-datepicker-toggle
            disabled
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-md-6" *ngIf="updateAt">
          <mat-label>Ultima atualização</mat-label>
          <input
            matInput
            readonly
            [matDatepicker]="picker"
            formControlName="updateAt"
            matInput
          />
          <mat-datepicker-toggle
            disabled
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <form [formGroup]="itensForm" class="row">
        <mat-form-field class="col-md-5">
          <mat-label>Item</mat-label>
          <mat-select formControlName="item">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let item of itemList$ | async" [value]="item">{{
              item.nomItem
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <mat-label>Quantidade</mat-label>
          <input formControlName="qtdItem" matInput />
        </mat-form-field>
        <div class="col-md-2">
          <button
            mat-icon-button
            color="accent"
            type="button"
            [disabled]="itensForm.invalid"
            (click)="onAddItem()"
          >
            <mat-icon fontIcon="add"></mat-icon>
          </button>
        </div>
        <table mat-table [dataSource]="itensPedidoControl?.value">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let itemPedido">
              {{ itemPedido.item.id }}
            </td>
          </ng-container>
          <ng-container matColumnDef="nomItem">
            <th mat-header-cell *matHeaderCellDef>Nome do item</th>
            <td mat-cell *matCellDef="let itemPedido">
              {{ itemPedido.item.nomItem }}
            </td>
          </ng-container>
          <ng-container matColumnDef="qtdItem">
            <th mat-header-cell *matHeaderCellDef>Quantidade</th>
            <td mat-cell *matCellDef="let itemPedido">
              {{ itemPedido.qtdItem }}
            </td>
          </ng-container>
          <ng-container matColumnDef="valItem">
            <th mat-header-cell *matHeaderCellDef>Valor do Item</th>
            <td mat-cell *matCellDef="let element">
              {{ element.item.valItem | currency : "BRL" : "symbol" : "4.2-2" }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsItensToDisplay"></tr>
          <tr
            mat-row
            *matRowDef="let myRowData; columns: columnsItensToDisplay"
          ></tr>
        </table>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <span class="example-spacer"></span
      ><button
        mat-button
        color="accent"
        [disabled]="pedidoForm.invalid"
        type="submit"
      >
        Salvar
      </button>
    </mat-card-actions>
  </form>
</mat-card>
